.time,
.time1 {
  position: absolute;
}
.time1 {
  top: 33.96%;
  left: 36.96%;
  line-height: 22px;
  font-weight: 600;
}
.time {
  width: 35.75%;
  top: calc(50% - 27px);
  right: 64.25%;
  left: 0;
  height: 54px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 13.65px);
  border-radius: var(--br-8xs-3);
  border: 1px solid var(--labels-primary);
  box-sizing: border-box;
  width: 25px;
  opacity: 0.35;
}
.capIcon {
  height: 31.54%;
  top: 36.78%;
  bottom: 31.68%;
  left: calc(50% + 12.35px);
  max-height: 100%;
  width: 1.3px;
  opacity: 0.4;
}
.capacity {
  position: absolute;
  height: 69.23%;
  top: 15.38%;
  bottom: 15.38%;
  left: calc(50% - 11.65px);
  border-radius: var(--br-10xs-5);
  background-color: var(--labels-primary);
  width: 21px;
}
.battery {
  position: absolute;
  height: 24.07%;
  top: 42.59%;
  bottom: 33.33%;
  left: calc(50% + 10.75px);
  width: 27.3px;
}
.cellularConnectionIcon,
.wifiIcon {
  position: absolute;
  height: 22.78%;
  top: 43.77%;
  bottom: 33.45%;
  left: calc(50% - 13.55px);
  max-height: 100%;
  width: 17.1px;
}
.cellularConnectionIcon {
  height: 22.59%;
  top: 43.58%;
  bottom: 33.82%;
  left: calc(50% - 40.25px);
  width: 19.2px;
}
.levels {
  position: absolute;
  width: 35.75%;
  top: calc(50% - 27px);
  right: 0;
  left: 64.25%;
  height: 54px;
}
.statusBarIphone {
  width: 393px;
  position: relative;
  background-color: var(--backgrounds-primary);
  height: 54px;
}
.depth4Frame0,
.vector0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.depth4Frame0 {
  width: 18px;
  height: 15px;
}
.depth3Frame0 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.depth2Frame0 {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.b {
  align-self: stretch;
  position: relative;
  line-height: 23px;
}
.depth1Frame0,
.depth2Frame1 {
  display: flex;
  align-items: center;
}
.depth2Frame1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 48px 0 0;
}
.depth1Frame0 {
  align-self: stretch;
  background-color: var(--backgrounds-primary);
  height: 46px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
}
.depth3Frame01 {
  width: 152px;
  position: relative;
  border-radius: 50px;
  height: 152px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.depth5Frame0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.depth5Frame1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-goldenrod);
}
.depth3Frame02,
.depth4Frame1,
.depth5Frame01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.depth3Frame02,
.depth5Frame01 {
  height: 52px;
  justify-content: flex-start;
}
.depth5Frame01 {
  height: 20px;
}
.depth5Frame11 {
  width: 1px;
  height: 24px;
}
.depth4Frame11 {
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.depth5Frame12 {
  width: 208px;
  height: 24px;
}
.depth2Frame01 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.depth1Frame1,
.depth1Frame7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.depth1Frame1 {
  height: 260px;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) 0;
  text-align: center;
}
.depth1Frame7 {
  height: 56px;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
}
.depth3Frame03 {
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  height: 201px;
  flex-shrink: 0;
  object-fit: cover;
}
.depth3Frame03,
.depth4Frame01 {
  align-self: stretch;
}
.depth4Frame01,
.depth5Frame02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.b5 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth6Frame0 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth4Frame12,
.depth5Frame13 {
  display: flex;
  flex-direction: row;
}
.depth5Frame13 {
  width: 97px;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 84px;
  max-width: 480px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.depth4Frame12 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.depth1Frame2,
.depth1Frame3,
.depth2Frame02,
.depth3Frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.depth3Frame1 {
  height: 84px;
  justify-content: center;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  gap: 4px;
  min-width: 288px;
}
.depth1Frame2,
.depth1Frame3,
.depth2Frame02 {
  justify-content: flex-start;
}
.depth2Frame02 {
  border-radius: var(--br-xs);
}
.depth1Frame2,
.depth1Frame3 {
  box-sizing: border-box;
}
.depth1Frame2 {
  height: 301px;
  padding: var(--padding-base) var(--padding-base) 0;
  font-size: var(--font-size-lg);
}
.depth1Frame3 {
  height: 60px;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
}
.depth4Frame02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.depth2Frame03 {
  width: 48px;
  border-radius: 8px;
  background-color: var(--color-whitesmoke);
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth3Frame05 {
  width: 148px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth2Frame11,
.depth3Frame11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.depth3Frame11 {
  overflow: hidden;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.depth2Frame11 {
  justify-content: center;
}
.depth1Frame4,
.depth3Frame06 {
  align-items: center;
  box-sizing: border-box;
}
.depth1Frame4 {
  align-self: stretch;
  background-color: var(--backgrounds-primary);
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
  min-height: 72px;
  font-size: var(--font-size-base);
}
.depth3Frame06 {
  width: 172px;
  border-radius: var(--br-xs);
  background-color: var(--color-goldenrod);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-base);
  min-width: 84px;
  max-width: 480px;
}
.depth1Frame5,
.depth2Frame04,
.depth3Frame06,
.depth3Frame12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.depth3Frame12 {
  width: 172px;
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 84px;
  max-width: 480px;
}
.depth1Frame5,
.depth2Frame04 {
  align-items: flex-start;
}
.depth2Frame04 {
  flex: 1;
  flex-wrap: wrap;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  gap: 12px;
  max-width: 480px;
}
.depth1Frame5 {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-sm);
}
.depth1Frame6 {
  align-self: stretch;
  background-color: var(--backgrounds-primary);
  height: 20px;
}
.depth0Frame0,
.profileScreen {
  background-color: var(--backgrounds-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth0Frame0 {
  width: 393px;
  overflow: hidden;
  min-height: 844px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
  font-family: var(--font-work-sans);
}
.profileScreen {
  width: 100%;
  position: relative;
  height: 936px;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--labels-primary);
  font-family: var(--font-sf-pro);
}
